[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
notebook = "*"
pandas = "*"
numpy = "*"
torch = "*"
scikit-learn = "*"
standard-imghdr = "*"
tensorboard = "*"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.12"
